<img class="sky retina" src="../_common/images/<%= size %>/sky.jpg" />
		<div id="man">
			<img class="man retina" src="../_common/images/<%= size %>/man.png" />	
			<div class="masker" id="mask-left">
				<img class="retina" src="../_common/images/<%= size %>/<%= eastWest %>/mask-left.png" />	
			</div>

			<div class="masker" id="mask-right">
				<img class="retina" src="../_common/images/<%= size %>/<%= eastWest %>/mask-right.png" />	
			</div>

			<div class="masker" id="mask-bottom">
				<img class="retina" src="../_common/images/<%= size %>/<%= eastWest %>/mask-bottom.png" />	
			</div>
		</div>
		<img class="cover1 retina" src="../_common/images/<%= size %>/cover1.png" />
		<img class="cover2 retina" src="../_common/images/<%= size %>/cover2.png" />
		
		<img class="t1 retina" src="../_common/images/<%= size %>/<%= lang %>/<%= name %>/t1.png" />
		<img class="t2 retina" src="../_common/images/<%= size %>/<%= lang %>/<%= name %>/t2.png" />
		<img class="t3 retina" src="../_common/images/<%= size %>/<%= lang %>/<%= name %>/t3.png" />
		<img class="t4 retina" src="../_common/images/<%= size %>/<%= lang %>/<%= name %>/t4.png" />